@import "app/styles/variables.scss";

.block-shop-feed-item {
  .thumbnail {
    border-radius: 2px;
    padding: 2px;
    margin-bottom: 0;
  }
  .content {
    padding-left: 10px;
    h3 {
      margin-top: 10px;
      color: $primary-text-color;
    }

    .category {
      a {
        background-color: $primary-color;
        color: #ffffff;
        padding: 5px 8px;
        border-radius: 3px;
      }
    }

    .description {
      background: #f9f9f9;
      padding: 1em 10px;
      margin: 10px 0;
      quotes: "\201C""\201D""\2018""\2019";
      border-radius: 3px;
    }
    .description:before {
      color: #ccc;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
  }
}
