@import "app/styles/variables.scss";

.block-shop-feed-item {
  .thumbnail {
    border-radius: 2px;
    padding: 2px;
    margin-bottom: 0;
  }
  .content {
    padding-left: 10px;
    h3 {
      margin-top: 10px;
      a {
        color: $primary-text-color;
      }
    }

    .category {
      ul {
        li {
          float: left;
          a {
            padding: 2px 5px;
            margin-right: 5px;
            color: $primary-text-color;
            background-color: $primary-color;
            color: #ffffff;
            border-radius: 3px;
          }
        }
      }

    }

    .description {
      background: #f9f9f9;
      padding: 1em 10px;
      margin: 10px 0;
      quotes: "\201C""\201D""\2018""\2019";
      border-radius: 3px;
    }
    .description:before {
      color: #ccc;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }

    .ship-dorms {
      ul {
        float: left;
        li {
          float: left;

          a {
            color: $primary-text-color;
            background-color: #eff1f5;
            border-radius: 50%;
            margin-left: 5px;
            padding: 5px 10px;
          }

          a.active {
            background-color: #84C977;
            color: #eff1f5;
          }
        }
      }
      i {
        float: right;
        line-height: 30px;
        color: #8c8c8c;
        font-size: 12px;
      }
    }
  }
}
