@import "app/styles/variables.scss";

.block-shop-feed-item {
  .thumbnail {
    border-radius: 2px;
    padding: 4px;
    margin-bottom: 0;

    img.img-responsive {
      width: 100%;
    }
  }
  .dv-star-rating {
    .dv-star-rating-star {
      i {
        font-size: 18px;
      }
    }
  }

  .content {
    padding-left: 10px;
    .shop-closed {
      position: absolute;
      right: 10px;
      top: 0;
      width: 60px;

      img {
        -ms-transform: rotate(8deg); /* IE 9 */
        -webkit-transform: rotate(8deg); /* Chrome, Safari, Opera */
        transform: rotate(8deg);
      }
    }
    h3 {
      margin-top: 10px;
      margin-bottom: 3px;
      display: table;

      a {
        color: $primary-text-color;
      }

      .status {
        font-size: 14px;
        color: #666;
        padding-left: 5px;
        display: table-cell;
        vertical-align: middle;
      }
      .status.opening {
        i {
          color: limegreen;
        }
      }
    }

    .category {
      ul {
        li {
          float: left;
          a {
            padding: 2px 8px;
            margin-right: 5px;
            color: $primary-text-color;
            background-color: #eff1f5;
            border-radius: 3px;

            &:hover {
              background-color: #CCCCCC;
            }
          }
        }
      }

    }

    .ship-dorms {
      ul {
        float: left;
        li {
          float: left;

          a {
            color: #666;
            border: 1px dashed #CCC;
            margin-left: 5px;
            padding: 2px 8px;
          }

          a.active {
            background-color: #84C977;
            color: #eff1f5;
          }
        }
      }
      i {
        float: right;
        line-height: 30px;
        color: #8c8c8c;
        font-size: 12px;
      }
    }
  }
}
