.ticket-status {
  border-radius: 3px;
  padding: 5px 10px;
  margin: 2px;
  color: #ffffff;
  font-size: 13px;
  &.status-0 {
    background-color: #b52a2e;
  }

  &.status-1 {
    background-color: #de9200;
  }

  &.status-2 {
    background-color: #a1a1a1;
  }
}
