/*==========  Mobile First Method  ==========*/
@media only screen and (max-width: 320px) {
  .home-header {
    .navbar-inverse .navbar-collapse {
      border-color: transparent;
    }
    .navbar {
      .navbar-collapse {
        ul.nav.navbar-nav {
          > li {
            > a {
              padding: 8px 15px;
            }
          }
          > .navbar-user {
            #basic-nav-dropdown {
              float: left;
              background-color: transparent;

            }
            > .dropdown-menu {
              float: left;
              &:before {
                content: none;
              }
              li {
                width: 50%;
                float: left;

                &.divider {
                  display: none;
                }
                > a {
                  color: #FFF;
                }
              }
            }
          }
          > .block-notification-dropdown {
            > #notifications-dropdown {
              background-color: transparent;
            }
            > .dropdown-menu {
              padding-top: 0;
              .header {
                color: #FFF;
                .title {
                  display: none;
                }
                .actions {
                  a {
                    color: #FFF;
                  }
                }
              }
              .infinite-scroll {
                height: 187px;
                li {
                  .block-notification-item {
                    padding: 6px 5px;
                    .buyer-avatar {
                      display: none;
                    }
                    .content {
                      padding-left: 0;
                    }
                  }
                }
              }
              &:before {
                content: none;
              }
            }
          }
        }
      }
    }
  }

  .block-shop-reviews {
    .first-row {
      .avatar {
        padding-left: 5px;
        padding-right: 5px;
      }
      .shop-info {
        padding-right: 0;
        .title {
          margin-top: 3px !important;
          font-size: 18px;
        }
        .description {
          .quote {
            padding: .5em 5px;
            margin: 3px 0;
            &:before {
              content: none;
            }
          }
        }
      }
    }
    hr {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .second-row {
      div:first-child {
        margin-left: 0;
        width: 100%;

        .group-info.nav {
          li {
            width: 100%;
            margin-bottom: 8px;
          }
        }
      }
    }

    .reviews-row {
      .review-box {
        .submit-btn {
          .btn {
            padding: 0;
          }
        }
      }
    }
  }

  .home-body {
    .filter-tools {
      padding-left: 0;
      padding-right: 0;
    }
    .seller-dashboard {
      .seller-dashboard-sidebar {
        padding: 0;
      }

      .block-shop-header {
        .shop-cover {
          .shop-info-wrapper {
            .shop-avatar-wrapper {
              .shop-avatar {
                .upload-avatar {
                  bottom: 9px;
                  padding: 0 5px;
                  .file-select {
                    padding: 2px 4px;
                    > span {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .block-shop-feed-item {
      .thumbnail {
        padding: 1px;
      }
      .content {
        h3 {
          margin-top: 3px;
          font-size: 18px;
        }
        .category {
          > .nav {
            li > a {
             margin-bottom: 5px;
            }
          }
        }
        .description.quote {
            margin: 5px 0;
            padding: .5em 5px;

          &:before {
            content: none;
          }
        }
      }
    }
  }

  .block-shop-header {
      .shop-cover {
        .shop-info-wrapper {
          height: auto !important;
          bottom: 50px !important;
          .shop-avatar-wrapper {
            .shop-avatar {
              padding: 5px !important;
            }
          }
        }

        .shop-nav-wrapper {
          .shop-basic-info {
            padding: 0 5px;
          }
          .nav.shop-info {
            display: none;
          }
        }
      }
    .description-wrapper {
      padding: 0 !important;
      .quote {
        padding: .6em 10px !important;
        margin: 2px 0 !important;
      }
    }
  }

  .block-selling-item-list {
    > .header {
      background-color: transparent !important;
      div:first-child {
        padding: 0;
      }
      > div {
        width: 100%;
        padding: 0 5px;

        .nav.nav-pills {
          background-color: #e7e7e7;
          li > a {
            padding: 5px 10px 5px;
          }
        }
        .block-shopping-cart {
          padding: 0 10px;
        }
      }
    }
    > .body {
      .block-selling-item {
        width: 50%;

        .image-loader {
          min-height: 134px !important;
        }
      }
    }
  }

  .shop-detail-modal {
    > div {

      > a.close {
        right: 5px;
        top: -3px;
        opacity: 1;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .welcome {
    .btn-google-sign-in {
      margin-top: -20px !important;
    }
  }
  .home-header {
    .navbar {
      .navbar-header {
        .navbar-brand {
          padding: 6px 15px;
        }
      }
      .navbar-collapse {
        border-color: transparent;
        .search-form {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          border-color: transparent;
        }
        .nav.navbar-nav {
          > li {
            width: 100%;
            a {
              > i, .icon-notification, .user-avatar > img {
                width: 22px;
                height: auto;
              }
            }
          }
          > .block-notification-dropdown {
            #notifications-dropdown {
              background-color: transparent;

            }
            > .dropdown-menu {
              float: left;

              > li.header {
                padding: 0 15px 7px;
                color: #FFF;
                .actions {
                  a {
                    color: #FFF;
                  }
                }
              }

              .infinite-scroll {
                height: 180px;
                li {
                  .block-notification-item {
                    padding: 6px 5px;
                    .buyer-avatar {
                      display: none;
                    }
                    .content {
                      padding-left: 0;
                    }
                  }
                }
              }


              &:before {
                content: none;
              }
            }
          }
          > .navbar-user {
            #basic-nav-dropdown {
              background-color: transparent;
              .user-avatar {
                display: block;
              }
            }
            .dropdown-menu {
              left: -3px;
              width: 100%;
              float: left;

              li {
                width: 50%;
                float: left;

                &.divider {
                  display: none;
                }
                > a {
                  color: #FFF;
                }
              }

              &:before {
                content: none;
              }
            }
          }
          > .block-notification-dropdown {
            .dropdown-menu {
              left: -3px;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .block-selling-item-list {
    .body {
      .block-selling-item {
        .image-loader {
          min-height: 135px !important;
        }
      }
    }
  }

  .home-body {
    .filter-tools {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
/* Custom, iPhone Retina */
@media only screen and (min-width : 375px) and (max-width: 766px) {
  .home-header {
    .navbar-header {
      .navbar-brand {
        padding: 6px 15px !important;
      }
    }

    .navbar {
      .navbar-collapse {
        border-color: transparent;

        .block-notification-dropdown {
          &.open {
            #notifications-dropdown {
              background-color: transparent;
            }
            .icon-notification .badge {
              border: 2px solid #b1211e;
            }
            > .dropdown-menu {
              position: relative;
              left: -127px;
              width: 383px;
              margin-top: 37px;

              > .header {
                color: #FFF;
                border-bottom-width: 0;

                .title {
                  margin: 2px 0;
                }

                .actions {
                  a {
                    color: #FFF;
                  }
                }
              }
              a {
                border-bottom: 0;
              }

              .infinite-scroll {
                height: 216px;
                 .block-notification-item {
                   margin-bottom: 5px;
                   padding: 5px 10px;
                   border-radius: 3px;
                   > .buyer-avatar {
                     display: none;
                   }
                   > .content {
                     padding-left: 0;
                   }
                 }
              }

              &:before {
                content: none;
              }
            }
          }
        }
      }
      .search-form {
        margin-right: 0;
        margin-left: 0;
        height: 33px;
        border-color: transparent;
        width: 100%;
        .form-group {
          float: none;

          .form-control {

          }
        }

        button {
          margin-top: 2px;
        }
      }

      .navbar-nav {
        margin: 0;
        > li {
          float: left;
          width: 33%;
          a {
            display: block;
          }

          &.navbar-user {
            .user-avatar {
              display: none;
            }

            &.open {
              > a {
                background-color: transparent;
              }
            }

            .dropdown-menu {
              float: left;
              position: relative;
              left: -250px;
              width: 375px;
              padding-bottom: 10px;

              &:before {
                content: none;
              }
              > li {
                float: left;
                width: 25% !important;

                a {
                  padding: 5px;
                  color: #FFF;
                  text-align: center;
                  float: left;
                  white-space: normal;
                  i {
                    width: 100%;
                    padding: 15px 0;
                    line-height: 14px;
                    float: left;
                    font-size: 30px;

                  }
                  span {
                    float: left;
                    width: 100%;
                    line-height: 14px;
                  }
                }

                &.divider {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

  .block-selling-item-list {
    > .body {
      .block-selling-item {
        width: 50%;
        .image-loader {
          min-height: 187px !important;
        }
      }
    }
  }

  .block-shop-reviews {
    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .first-row {
      .shop-info {
        .title {
          margin: 5px 0 !important;
          font-size: 20px;
        }
        .description {
          .quote {
            padding: .6em 5px;
            margin: 5px 0;
          }
        }
      }
    }

    .second-row {
      .group-info.nav {
        li {
          width: 100%;
          padding: 5px 0;
        }
      }
    }

    .all-reviews {

    }
  }

  .home-body {
    .seller-dashboard {
      .block-shop-header {
        .shop-cover {
          > img {
            height: auto;
          }

          .shop-info-wrapper {
            height: auto;
            bottom: 50px;

            .shop-avatar-wrapper {
              .shop-avatar {
                padding: 10px;
                > img {
                  border-width: 1px;
                }

                .upload-avatar {
                  padding: 0 10px;
                  bottom: 13px;
                  .file-select {
                    padding: 3px 10px;

                    span {
                      display: none;
                    }
                  }
                }
              }
            }
          }

          .shop-nav-wrapper {
            .shop-basic-info {
              padding: 0 10px;
            }
            ul.nav.shop-info {
              display: none;
            }
          }
        }

        .description-wrapper {
          padding: 0;

          .quote {
            padding: .8em 10px;
            margin: 5px 0;
          }
        }
      }

      .seller-dashboard-sidebar {
        padding: 0;
        margin-top: 5px;
      }
    }

    .filter-tools {
      padding-left: 0;
      padding-right: 0;
    }

    .block-shop-feed-item {
      > div {
        > .thumbnail {
          padding: 1px;
        }
        > .content {
          h3 {
            margin-top: 3px;
            font-size: 20px;
          }
          .dv-star-rating {
            label {
              margin-bottom: 0;
              i {
                font-size: 16px;
              }
            }
          }
          .category {
            a {
              margin-bottom: 5px;
            }
          }
          .description.quote {
            padding: .8em 5px;
            margin: 2px 0;
          }
          .ship-dorms {
            a {
              margin-top: 2px;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }

  .shop-detail-modal {
    > div > a.close {
      right: 6px;
      top: -3px;
      opacity: 1;
    }
    .block-shop-header {
      .shop-cover {
        > img {
          height: auto;
        }
        .shop-info-wrapper {
          bottom: 55px;
          height: auto;

          .shop-avatar-wrapper {
            .shop-avatar {
              padding: 10px;
              img {
                border-radius: 3px;
              }
            }
          }
        }
        .shop-nav-wrapper {
          height: 55px;
          background-color: #222;
          color: #FFF;

          .shop-basic-info {
            padding: 0 10px;

            .rating {
              color: #FFEB3B;
            }

            .title {
              margin: 6px 0;
            }
          }
          ul.shop-info {
            display: none;
            li {
              float: left;
              margin-right: 10px;
            }
          }
        }
      }

      .description-wrapper {
        padding: 0;
        .quote {
          margin: 0;
          padding: .8em 10px;
        }
      }
    }
  }

  .block-selling-item-list {
    .header {
      > div {
        padding: 10px 0;
        ul.nav {
          li {
            a {
              padding: 2px 5px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 590px) {
  .seller-benefits {
    .container {
      > div.header:first-child {
        display: none;
      }

      .header .title.additional-feature {
        margin-top: 20px;
      }
    }
    .form-request-create-shop-intro {
      display: none;
    }
  }
  .welcome {
    .slideshow {
      .intro {
        .logo-wrapper {
          display: none;
        }
        .btn-google-sign-in {
          margin-top: 0;
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 768px) {
  .user-benefits .body .feature .icon {
    > .fa {
      font-size: 3.2em;
    }
  }
  .seller-benefits {
    .body.additional-features {
      .feature {
        .icon {
          > .fa {
            font-size: 3.2em;
          }
        }
      }
    }
  }

  .welcome {
    .slideshow {
      .intro {
        .logo-wrapper {
          width: 140px;
          height: 140px;

          .logo-image {
            width: 140px;
            height: 140px;
          }
        }
      }

      .carousel {
        .carousel-indicators {
          display: none;
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width: 1024px) {
  .form-request-create-shop-intro .action-points .circle.green {
    left: 227px !important;
  }
  .home-header {
    .navbar {
      .search-form {
        width: 280px;
      }
    }
  }
  .home-body {
    .block-dorm-list {
      > .body {
        > .tag-list {
          > .btn {
            display: block;
          }
        }
      }
    }

    .block-shop-feed-item {
      .thumbnail {
        padding: 1px;
      }
      .content {
        > h3 {
          margin-top: 3px;
        }
        > .description {
          margin: 3px 0;
          padding: .8em 5px;
        }
        > .dv-star-rating {
          > label {
            margin-bottom: 0;
          }
        }
      }
    }

    .seller-dashboard {
      .block-shop-header {
        .shop-info-wrapper {
          height: 138px;
          .shop-avatar-wrapper {
            .shop-avatar {
              padding: 14px;

              .upload-avatar {
                padding: 0 14px;
                bottom: 14px;
              }
            }
          }
        }

        .description-wrapper {
          padding: 0 10px;

          .quote {
            margin: 5px 0;
            padding: 1em 10px;
            background-color: transparent;
          }
        }

        .shop-cover {
          .shop-nav-wrapper {
            .row {
              > div {
                padding-left: 5px;
                padding-right: 5px;
              }
            }
          }
        }
      }

      .block-seller-dashboard-sidebar {
        .list-group-item {
          padding: 5px;

          .action {
            .icon {
              display: none;
            }
            .control {
              margin: 2px 0;
            }
            .title {
              padding: 2px 3px;
            }
          }
        }
      }
    }
  }

  .shop-detail-modal {
    .block-shop-header {
      .shop-cover {
        .shop-nav-wrapper {
          position: absolute;
          width: 100%;
          bottom: 0;
          background: rgba(1, 1, 1, .8);
          color: #FFF;
          a.rating {
            color: #FFF;
          }

          .shop-basic-info {

            h4.title {

            }
          }
        }
        .shop-info-wrapper {
          .shop-avatar-wrapper {
            .shop-avatar {
              padding: 17px 10px;
              img {
                border-width: 1px;
              }
            }
          }
        }
      }
      .description-wrapper {
        padding: 0 10px;

        .quote {
          margin: 5px 0;
          padding: 1em 10px;
        }
      }
    }
  }

  .block-selling-item-list {
    .header {
      ul.nav {
        li > a {
          padding: 5px 10px;
        }
      }
    }
  }

  .block-shop-reviews {
    .first-row {
      .shop-info {
        .title {
          margin: 5px 0 !important;
        }

        .description {
          .quote {
            margin: 5px 0;
            padding: .8em 5px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .shop-detail-modal {
        .block-shop-header {
      .shop-cover {
        > img {
          height: auto;
        }
        .shop-info-wrapper {
          bottom: 0;
          height: auto;

          .shop-avatar-wrapper {
            .shop-avatar {
              padding: 10px;
              img {
                border-radius: 3px;
              }
            }
          }
        }
        .shop-nav-wrapper {
          height: 55px;
          background-color: #222;
          color: #FFF;
        }
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
