.carousel-pinned-items {
  border-top: 1px solid #E6E6E6;
  box-shadow: 0 1px 1px rgba(0,0,0,.25);

  &:hover {
    .carousel-control {
      .glyphicon {
        opacity: 1;
      }
    }

    //.carousel-inner > .item > a > .carousel-caption  {
    //  background: linear-gradient(0deg, rgba(0, 0, 0, .6) 0, rgba(0, 0, 0, .001)) repeat-y;
    //}
  }

  .carousel-inner {
    > .item {
      > a {
        > img {
          height: auto;
          border-radius: 2px;
        }

        .carousel-caption {
          left: 0;
          right: 0;
          padding-top: 0;
          padding-bottom: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, .55);

          h3 {
            margin-top: 10px;
            font-size: 18px;
          }
        }
      }
    }
  }

  .carousel-control {
    background: none;
    width: 10%;
    &.left {
      .glyphicon {
        left: 50%;
        margin-left: -10px;
      }
    }
    &.right {
      .glyphicon {
        right: 50%;
        margin-right: -10px;
      }
    }

    > .glyphicon {
      position: absolute;
      top: 50%;
      margin-top: -10px;
      z-index: 5;
      display: inline-block;
      border: 2px solid #FFF;
      border-radius: 50%;
      padding: 5px;
      opacity: .5;
    }
  }

}
