.admin-breadcrumb {
  padding: 12px 20px;
  border-bottom: 1px solid #DDD;
  background-color: #f3f3f4;
  position: relative;
  margin: 0px;
  h2 {
    font-size: 22px;
    color: #1D2939;
    letter-spacing: -0.5px;
    margin: 0;
    i {
      font-size: 21px;
      margin-right: 7px;
      border-right: 1px dotted #DDD;
      padding-right: 10px;
    }
    span:last-child {
      font-size: 13px;
      text-transform: none;
      color: #999;
      font-style: italic;
      vertical-align: middle;
      letter-spacing: 0;
      margin-left: 5px;
    }
  }
}
