.role-label {
  border-radius: 3px;
  padding: 5px 10px;
  color: #ffffff;
  font-size: 13px;
  margin-right: 5px;
  &.role-admin {
    background-color: #b52a2e;
  }

  &.role-seller {
    background-color: #de9200;
  }

  &.role-user {
    background-color: #a1a1a1;
  }
}
