.modal-header {
  padding: 12px;

  .title {
    color: #66757f;
    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
    margin: 0;
  }

  .sub-header {
    color: #8899a6;
    margin: 3px 0;
  }
}
