.block-shop-header {
  .shop-cover {
    position: relative;
    width: 100%;

    .shop-info-wrapper {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 160px;

      .shop-info {
        position: relative;
        .shop-avatar {
          padding: 30px 0 0 20px;
        }

        .shop-name {
          color: #ffffff;
          font-size: 22px;
        }
      }

    }
    > img {
      width: 100%;
      height: 250px;
    }
  }
}
