.block-request-create-shop-summary {
  .page-header {
    margin: 20px 0 20px;
  }

  .callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;

    .title {
      margin: 0 0 10px 0;
    }

    &.seller {
      border-left-color: #1b809e;

      .title {
        color: #1b809e;
      }
    }

    &.shop {
      border-left-color: #aa6708;

      .title {
        color: #aa6708;
      }
    }
  }

}
