/*
ul.navbar-nav > li {
  position: relative;
}
ul.navbar-nav > li .badge {
  background: #ff2d55;
  border-radius: 9px;
  font-size: 10px !important;
  font-weight: 400;
  text-align: center;
  padding: 3px 5px;
  z-index: 100;
  min-width: 18px;
  height: 18px;
}

ul.navbar-nav > li .badge {
  position: absolute;
  right: 5px;
  top: 10px;
}
*/

.block-notification-dropdown {
  &.open {
    .icon-notification {
      .badge {
        border: 2px solid #344150;
      }
    }
  }
  .icon-notification {
    float: left;
    position: relative;
    margin-right: 8px;

    .badge {
      background: #ff2d55;
      border-radius: 4px;
      font-size: 10px !important;
      font-weight: 400;
      text-align: center;
      padding: 2px;
      z-index: 100;
      min-width: 18px;
      height: 18px;
      position: absolute;
      right: -7px;
      top: -7px;
      border: 2px solid #c0392b;
    }
  }
  a {
    display: block;
    &:hover {
      text-decoration: none;

      .block-notification-item {
        background-color: #e9eef7;
      }
    }
  }
  .dropdown-menu {
    width: 406px;

    .infinite-scroll {
      height: 361px;
      overflow: auto;
    }
    li {
      a {
        border-bottom: 1px solid #eeeeff;
        padding: 0;
      }
      p.no-notification {
        text-align: center;
        font-weight: 500;
        margin: 10px 0;
        font-size: 15px;
        color: #8c8c8c;
      }
    }

    > .header {
      padding: 7px 15px;
      border-bottom: 1px solid #eeeeff;
      .title {
        font-size: 15px;
        float: left;
        margin: 5px 0;
        border: none;
      }

      .actions {
        float: right;
        a {
          line-height: 24px;
          border-bottom: 0;
        }
      }
    }

    > .footer {
      text-align: center;
      font-weight: 700;
      font-size: 14px;
      border-bottom: 0;
      a {
        padding: 10px 15px;
        border-bottom: 0;
      }
    }
  }
}
