.block-dorm-list {
  h3.title {
    border-bottom: 0;
  }
  .body {
    .tag-list .btn{
      margin:2px;
      color: #666;
      border: 1px dashed #CCC;
      padding: 5px 8px;

      .badge {
        background-color: #666;
      }

      &:hover {
        background-color: #EEEEEE;
      }

      &.active {
        box-shadow: none;
      }
    }
  }
}
