.block-dorm-list {
  .body {
    .tag-list {
      padding-top: 8px;

      .btn {
        margin:2px;
        color: #666;
        border: 1px solid #eee;
        padding: 5px 8px;

        &:hover {
          background-color: #f4f4f4;
        }

        &.active {
          box-shadow: none;
        }
      }
    }
  }
}
