.block-item-list {
  .body {
    .category-list {
      padding-top: 10px;
    }
    .category-list .btn {
      display: block;
      color: #66757f;
      text-align: left;
      border: 0;

      .badge {
        float: right;
        background-color: #666;
        top: 1px;
      }

      &.active {
        box-shadow: none;
      }
    }
  }
}
