.manage-order-header {
  .title {
    float: left;
    color: #333333;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0;

    .shop-name {
      color: #3c3c3c;
      font-weight: 400;
      font-size: 16px;
      margin: 0;
    }
  }
}
