.modal-view-order-footer {
  button, button:hover, button:focus {
    color: #ffffff;
  }
  .btn-accept {
    background-color: #b52a2e;
  }

  .btn-reject {
    background-color: #a1a1a1;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
  }

  .btn-shipping {
    background-color: #009ece;
  }

  .btn-complete {
    background-color: #73a600
  }

  .btn-abort {
    background-color: #a1a1a1;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
  }

  .order-status-message {
    color: #666666;
  }

}
