.account-basic {
  .user-avatar {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .user-info {
    .header {
      h3 {
        margin: 10px 0 0;
      }
      border-bottom: 1px dotted #cccccc;
    }
    .body {
      padding: 10px 0;

      .form-group {
        .control-label {
          text-align: left;
        }
      }
    }
  }
}
