.image-loader {

  &.is-loading {
    background-color: #EEEEEE;
  }
  i.fa {
    position: absolute;
    top: 6px;
    left: 6px;
  }

  &.is-visible {
    img {
      opacity:1;
    }
  }

  img {
    opacity: 0;
    -moz-transition: opacity 1s; /* Firefox 4 */
    -webkit-transition: opacity 1s; /* Safari and Chrome */
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }
}
