.block-enable-push-suggestion {
  .accept {
    float: right;
    color: #449D44;
    margin-top: 5px;
    font-weight: 700;
  }
}

.seller-dashboard {
  .block-enable-push-suggestion {
    .alert {
      border-radius: 0;
      margin-bottom: 0;
    }
  }
}
