@import 'app/styles/variables.scss';

.home-header {
  > .navbar {
    background-color: $primary-color;
    border: 0;
    border-radius: 0;
    ul {
      li.open {
        > a {
          background-color: $dark-color;
        }
      }
      a {
        color: #fff;
      }
    }
    ul.dropdown-menu {
      &:before {
        position: absolute;
        display: inline-block;
        content: "";
        top: -8px;
        right: 9px;
        left: auto;

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 8px 8px 8px;
        border-color: transparent transparent #fff transparent;
      }
      li {
        a {
          i {
            width: 26px;
          }
        }
      }

      a {
        color: #222222;
      }
    }
    .navbar-header {
      a {
        color: #ffffff;
      }
    }
  }

  .search-form {
    background-color: #ffffff;
    padding: 0;
    border-radius: 3px;
    margin-top: 10px;
    > .form-group {
      > .form-control {
        border: none;
        padding: 4px 8px;
        width: 334px;
        box-shadow: none;
        height: 30px;
      }
      > .form-control:focus {
        box-shadow: none;
      }
    }
    > button {
      border: 0;
      padding: 3px 20px;
      background-color: #EEEEEE;
      margin-right: 2px;
      &:hover {
        background-color: #CCCCCC;
      }
    }
  }
}
