@import 'app/styles/variables.scss';

.ship-place-span {
    display: inline-block;
    padding: 2px 5px;
    margin: 2px;
    background-color: $primary-color;
    color: #ffffff;
    border-radius: 3px;
}
