@import 'app/styles/variables.scss';

.admin-header {
  > .navbar {
    background-color: $primary-color;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    ul {
      li.open {
        > a {
          background-color: $dark-color;
        }
      }
      a {
        color: #fff;
      }
    }
    ul.dropdown-menu {
      a {
        color: #222222;
      }
    }
    .navbar-header {
      a {
        color: #ffffff;
      }
    }
  }
  ul.navbar-nav > li {
    position: relative;
  }
  ul.navbar-nav > li .badge {
    background: #ff2d55;
    border-radius: 9px;
    font-size: 10px !important;
    font-weight: 400;
    text-align: center;
    padding: 3px 5px;
    z-index: 100;
    min-width: 18px;
    height: 18px;
  }

  ul.navbar-nav > li .badge {
    position: absolute;
    right: 5px;
    top: 10px;
  }
  .btn-toggle {
    border: 0;
    background-color: transparent;
    color: #ffffff;
  }
}
