.block-shop-reviews {
  .first-row {
    .avatar {

    }
    .shop-info {
      padding-left: 0;
      .title {
        margin: 10px 0 5px 0;
      }
      .description {
        .quote {
          &:before {
            margin-right: 5px;
          }
        }
      }

    }
  }
  .second-row {
    .group-info {
      display: table;
      width: 100%;
      li {
        display: table-row;
        float: left;
        width: 33.33%;

        span {
          display: table-cell;
          color: #8c8c8c;
          background-color: #F6F6F6;
          border: 1px solid #8c8c8c;
          border-radius: 50%;
          padding: 9px 0;
          width: 40px;
          text-align: center;
          float: left;

          &.img-avatar {
            padding: 0;
            img {
              width: 40px;
            }
          }
        }

        cite {
          display: table-cell;
          font-style: normal;
          padding-left: 5px;

          > div {
            color: #8c8c8c;
            font-size: 13px;
          }
        }
      }
    }
  }
  .third-row {
    ul.statistics {
      li {
        float: left;
        width: 25%;
        text-align: center;
        border-right: 1px solid #CCC;
        padding: 5px 4px;
        &:last-child {
          border-right: 0;
        }

        span {
          display: block;
          font-weight: 700;
          font-size: 16px;
        }
        cite {
          font-style: normal;
          color: #8c8c8c;
        }
      }
    }
  }

  .reviews-row {
    .user-avatar {
      padding: 0 4px;
    }
    .review-status {
      text-align: center;
    }
    .review-box {
      .comment-box {
        padding: 0 4px;

        .dv-star-rating {
          .dv-star-rating-star {
            i {
              font-size: 16px;
            }
          }
        }

        .input-review {
          border-radius: 2px;
          font-size: 14px;
          resize: none;
        }
      }

      .submit-btn {
        padding: 0 5px;
        .btn {
          width: 100%;
          height: 54px;
        }
      }
    }
  }
  .all-reviews {
    .user-avatar {
      padding: 0 4px;
    }
    .review-box {
      padding: 10px 0;
      border-bottom: 1px solid #EEE;
      &:last-child {
        border-bottom: 0;
      }
      .comment-box {
        padding: 0 4px;
        .review-content {
          margin-bottom: 5px;
        }
        .timestamp {
          font-size: 13px;
          font-style: italic;
          line-height: 22px;
        }
      }
    }
  }
}
