.block-seller-dashboard-sidebar {
  .list-group-item {
    padding: 10px;
  }

  .action {
    .icon {
      float: left;
      border-radius: 6px;
      width: 30px;
      text-align: center;
      i {
        padding: 5px 0;
        font-size: 20px;
        color: #FFFFFF;
      }
    }
    .title {
      float: left;
      padding: 5px 8px;
    }
    .control {
      float: right;
      width: 40px;
      margin: 5px 0;
    }
  }

  .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #2e3d4a;
    border-color: #2e3d4a;
  }

  .icon-green {
    background-color: #5cb85c;
  }

  .icon-orange {
    background-color: orange;
  }

  .icon-gray {
    background-color: darkgray;
  }

  .icon-blue {
    background-color: #00b3ee;
  }

  .icon-red {
    background-color: #B41A0F;
  }

  .icon-yellow {
    background-color: #FFC517;
  }

  .icon-violet {
    background-color: #8871B5;
  }
}
