@import 'app/styles/variables.scss';

.login-page {
  .login-box {
    z-index: 100;
    margin-top: 10%;
    .panel-default > .panel-heading {
      border: 0;
      padding: 15px;
      background-color: #f0f0f0;
      .panel-title {
        font-size: 1.6em;
        color: #555;
      }
    }
    .has-error.message {
      margin-left: 50px;
    }
    .input-group {
      margin-bottom: 10px;
      .input-group-addon {
        background-color: transparent;
      }
      input, .input-group-addon {
        border: 0;
        border-bottom: 1px solid #cccccc;
        border-radius: 0;
      }
      input {
        box-shadow: none;
        font-size: 16px;
      }
    }
    .btn-login {
      width: 100%;
      background-color: $primary-color;
      border-color: $primary-color;
      border-radius: 3px;
      font-size: 18px;
      padding: 10px 0;
    }
    .form-group {
      margin-bottom: 0;
    }
  }
}
