.admin-page {
  background-color: #fff;
  color: #5c5c5c;
  .admin-main {
    min-height: 290px;
  }
  .admin-content {
    padding: 10px;

    hr {
      margin: 16px 0;
    }

    .row {
      padding-bottom: 16px;
    }
  }

}

.margin-left-250px {
  margin: 0 0 0 250px;
}

.margin-left-60px {
  margin: 0 0 0 60px;
}

.role-title {
  color: #ec971f;
}

.ban-title {
  color: #c9302c;
}

.role-checkboxes {
  input {
    margin: 8px 0;
  }
  i {
    font-size: 20px;
    margin: 2px 2px;
  }

  .role-name {
    display: inline-block;
    font-weight: 700;
  }

  .role-description {
    margin-left: 30px;
  }
}
