.block-notification-item {
  .buyer-avatar {
    img {
      width: 50px;
    }
  }
  .content {
    padding-left: 60px;
    span {
      word-break: break-all;
    }
    p {
      margin: 0;
    }
  }
}
