.current-order-list {
  list-style: none;
  margin: 0;
  padding: 0;
  .order-card {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    transition: all 1s cubic-bezier(.36,-0.64,.34,1.76);
    &.canceled {
      opacity: 0;
      transform: rotateY(-90deg);
    }

    .btn-toolbar {
      margin-bottom: 10px;
    }

    &.disappear {
      height: 0;
    }
    .preview {
      padding: 5px;
      .title {
        display: none;
      }

      .row {
        margin-top: 10px;
      }

      > div > div {
        margin: 0 0 10px;
      }

      .label-item {
        padding: 5px 10px;
        margin: 5px 5px;
        background-color: #f5f5f5;
        display: inline-block;
        &.has-note {
          color: #ffffff;
          background-color: #558abb;
          cursor: pointer;
        }
      }
    }

    hr {
      margin: 10px 0;
    }
    .current-order-action {
      padding: 0 15px;
    }
  }
}

.dynamicOrderCard-enter {
  opacity: 0.01;
}

.dynamicOrderCard-enter.dynamicOrderCard-enter-active {
  opacity: 1;
  transition: all 1000ms ease-in;
}

.dynamicOrderCard-leave {
  opacity: 1;
  margin-left: -1500px;
}

.dynamicOrderCard-leave.dynamicOrderCard-leave-active {
  opacity: 0.01;
  margin-left: -1500px;
  transition: all 2s ease;
}

.timerwrapper {
  height: 5px;
  width: 100%;
  background: #ffffff;
  position: relative;
  margin: auto;
}
.shrinking{
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
/*    animation: fillBar 1s ease-in infinite; */
    -webkit-animation-name: fillBar;
        animation-name: fillBar;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
/*    animation-delay: 2s; */
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    background-image: linear-gradient(to right, #c0392b, #c0392b);

}

@-webkit-keyframes fillBar {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
}
@keyframes fillBar {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
}

.timerwrapper-placeholder {
  height: 5px;
  width: 100%;
}

.current-order-card-container {
  transition-property: all;
	transition-duration: 1s;
	transition-timing-function: ease;
  min-height: 276px;
  padding: 10px 0;

  &.slide-up {
    padding: 0;
    min-height: 0;
  }
}
