.current-order-list {
  list-style: none;
  margin: 0;
  padding: 0;
  .order-card {
    width: 100%;
    height: 170px;
    margin: 10px 0;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    padding: 10px;
    transition: all 0.7s ease;
    .preview {
      .title {
        display: none;
      }
    }

    .detail {
      padding: 15px;
      display: none;
    }
    &:hover {
      height: auto;
      box-shadow:
                1px 1px #a1a1a1,
                2px 2px #a1a1a1,
                3px 3px #a1a1a1;
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
      .preview {
        .title {
          display: block;
        }
      }

      .detail {
        display: table;
        width: 100%;

      }
    }
  }
}
