.current-order-list {
  list-style: none;
  margin: 0;
  padding: 0;
  .order-card {
    width: 100%;
    height: 150px;
    margin: 10px 0;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    padding: 10px;
    .preview {
      .title {
        display: none;
      }
    }

    .detail {
      padding: 15px;
      display: none;
      transition-property: all;
    	transition-duration: 4s;
    	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }

    &.is-expand {
      height: 100%;
      background: #f7f4f4;

      .preview {
        .title {
          display: block;
        }
      }

      .detail {
        display: table;
        width: 100%;

      }
    }
  }
}
