.my-order {
  overflow: auto;

  .pager {
    margin: 0;
  }

  .disabled {
    pointer-events: none;
  }

  .pull-left {
    label {
      font-weight: normal;
    }

    select {
      display: inline-block;
      width: 64px;
    }
  }

  .btn-cancel {
    color: #ffffff;
    background-color: #a1a1a1;
    font-size: 14px;
  }

  .btn.seller-message {
    width: 30px;
  }

  .order-item-list {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
}

.cancel-order-modal {
  .btn {
    color: #ffffff;
    background-color: #a1a1a1;

    &.confirm {
      background-color: #b52a2e;
    }
  }


}


.open-ticket-modal {
  .order-information {
    padding-left: 10px;
    div {
      margin: 0 0 5px;
    }
  }
  .btn-close {
    color: #ffffff;
    background-color: #a1a1a1;
  }

  textarea {
    margin-bottom: 10px;
  }
}
