.block-selling-item {
  &.not-for-sell {
    .item-image {
      img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }
    .info {
      a.name {
        color: #666;
      }
    }

  }
  .item {
    padding: 5px;
    a {
      display: block;
    }
    .item-image {
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    .info {
      border: 1px solid #eee;
      border-top: 0;
      padding: 5px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
      .name {
        display: block;
        font-size: 14px;
        font-weight: 700;
        color: #333333;
      }
      .price {
        font-size: 13px;
        color: #999999;
      }
      table {
        width: 100%;
        tr {
          td:last-child {
            width: 20px;
            .option-item .checkbox-custom-label {
              padding: 0;
              margin: 0;
              &:before {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}
