.admin-page {
  .pager {
    .disabled {
      pointer-events: none;
    }
  }
  .pull-left {
    label {
      font-weight: normal;
    }

    select {
      display: inline-block;
      width: 64px;
      margin: 0 10px;
    }
  }
  .table {
    td.actions {
      ul {
        width: 100%;
        li {
          float: left;
          display: block;
        }
      }
      button {
        padding: 5px 0;
        width: 36px;
        height: 36px;
      }
    }
  }

  .banned {
    color: #a1a1a1;
  }
}
