.block-shopping-cart {
  float: right;

  .has-pointer {
    cursor: pointer;
  }
  a {
    color: #666;
    cursor: default;
    text-decoration: none;

    h4 {
      margin: 5px 0 0;

      i {
        padding: 0 5px;
        font-size: 18px;
      }
    }

    p {
      margin: 0;
      font-size: 13px;
    }
  }
}
